@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

.App {
  width: 100%;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header h1 {
  font-size: 2.2rem;
}
@media screen and (max-width: 500px) {
  header h1 {
    font-size: 1.4rem;
  }
}
header button {
  outline: none;
  border: rgba(0, 0, 0, 0.2);
  background: none;
  border: none;
  font-weight: 800;
  cursor: pointer;
  font-size: 1.8rem;
}
header button i {
  margin-right: 1rem;
  -webkit-text-stroke-width: 0.1rem;
}
@media screen and (max-width: 500px) {
  header button {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 2rem;
  }
}

.main {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 3rem;
}
.main .navbar form {
  border: none;
  padding: 1rem 2.4rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 40%;
  min-width: 18rem;
  max-width: 38rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.main .navbar form button {
  background: none;
  border: none;
  padding: 0;
  margin-right: 1rem;
  cursor: pointer;
}
.main .navbar form button i {
  font-size: 1rem;
  flex: 1;
}
.main .navbar form input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  flex: 9;
  font-size: 1.2rem;
}
.main .navbar select {
  border: none;
  padding: 1rem 1.4rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  border: none;
  outline: none;
  width: 30%;
  min-width: 7rem;
  max-width: 20rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.main .countries {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
  width: 100%;
}
.main .countries h1 {
  text-align: center;
}
@media screen and (max-width: 450px) {
  .main .countries h1 {
    font-size: 1.8rem;
  }
}
.main .countries .country-card {
  height: 26rem;
  flex-basis: 30rem;
  border-radius: 1.2rem;
  overflow: hidden;
}
.main .countries .country-card .flag {
  width: 100%;
  height: 60%;
}
.main .countries .country-card .flag img {
  width: 100%;
  height: 100%;
}
.main .countries .country-card .about-country {
  padding: 2rem;
  text-decoration: none;
}
.main .countries .country-card .about-country h3 {
  font-weight: 800;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
}
.main .countries .country-card .about-country p {
  font-weight: 800;
  font-size: 1.1rem;
}
.main .countries .country-card .about-country p span {
  font-weight: 400;
  margin-left: 0.8rem;
}
@media screen and (max-width: 768px) {
  .main {
    padding: 2rem;
  }
  .main .countries {
    justify-content: center;
  }
}

.country-details {
  padding: 5rem;
}
.country-details button {
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0.8rem 2.5rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-align: center;
}
.country-details button a {
  text-decoration: none;
}
.country-details button a i {
  margin-right: 1rem;
}
.country-details .country {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5rem;
}
@media screen and (max-width: 600px) {
  .country-details .country {
    flex-direction: column;
    gap: 2.5rem;
  }
}
.country-details .country .flag {
  flex: 1;
}
.country-details .country .flag img {
  width: 100%;
}
.country-details .country .about-country {
  text-align: left;
  flex: 1;
}
.country-details .country .about-country h1 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.country-details .country .about-country .main-details {
  display: flex;
  justify-content: start;
  gap: 5.5rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 680px) {
  .country-details .country .about-country .main-details {
    gap: 2rem;
  }
}
.country-details .country .about-country .main-details ul {
  padding: 0;
}
.country-details .country .about-country .main-details ul li {
  list-style: none;
}
.country-details .country .about-country .main-details ul li p {
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 2rem;
}
.country-details .country .about-country .main-details ul li p span {
  font-weight: 300;
  margin-left: 0.5rem;
}
@media screen and (max-width: 768px) {
  .country-details {
    padding: 4rem 2rem;
  }
}/*# sourceMappingURL=App.css.map */